@media screen and (min-width: 500px) {}

@media screen and (min-width: 768px) {

	.menu_bar .subnavbtn{
		font-size: 14px;
	}
}
@media screen and (min-width: 1000px) {

	.menu_bar .subnavbtn{
		font-size: 15px;
	}
}
