.carousel_women{
	background-color: rgb(240,240,240);
}
.row img{
	width: 100px;
}
.Best_Seller{
	position: relative;
	top: 10px;
}
@media screen and (min-width: 500px) {

}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1000px) {
	

}


